body {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

a {
	color: black;
	text-decoration: none;
}

#title {
	font-size: 50px;
	text-align: center;
	letter-spacing: -2px;
	font-weight: normal;
}

#erasing {
	height: 20px;
	margin-bottom: 13px;
}

#contain {
	padding-left: 13px;
	height: 280px;
}

.palette {
	width: 23px;
	height: 23px;
	float: left;
	margin: 6px;
}

.shapes {
	width: 23px;
	height: 23px;
	margin: 0 auto;
	display: inline-block;
}

#shaperectangle {
	border: 1px solid transparent;
	background: #6a6a6a;
}

#shapetriangle {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 25px solid #1f1f1f;
	display: inline-block;
	background: white;
}

.red {
	background: red;
}

.red1 {
	background: #f16161;
}

.red2 {
	background: #f69fa0;
}

.orange {
	background: orange;
}

.orange1 {
	background: #f99f62;
}

.orange2 {
	background: #fbb57b;
}

.blue {
	background: #09c2db;
}

.blue1 {
	background: #8bd3dc;
}

.blue2 {
	background: #b9e3e8;
}

.indigo {
	background: #0e38ad;
}

.indigo1 {
	background: #546ab2;
}

.indigo2 {
	background: #9c96c9;
}

.green {
	background: green;
}

.green1 {
	background: #97cd7e;
}

.green2 {
	background: #c6e2bb;
}

.black {
	background: black;
}

.black1 {
	background: #545454;
}

.black2 {
	background: #b2b2b2;
}

.yellow {
	background: yellow;
}

.yellow1 {
	background: #f7f754;
}

.yellow2 {
	background: #f7f4b1;
}

.purple {
	background: #b9509e;
}

.purple1 {
	background: #d178b1;
}

.purple2 {
	background: #e3abce;
}

.white {
	background: white;
	border: 1px solid gray;
	float: none;
	margin: 0 auto;
	border-radius: 50%;
}

#paintbg {
	width: 1058px;
	height: 590px;
	margin: 0 auto;
}

#colorpanel {
	width: 130px;
	height: 450px;
	float: left;
	margin-right: 18px;
	border: 1px solid black;
}

#linepanel {
	margin-top: 75px;
	width: 185px;
	height: 317px;
	float: right;
	border: 1px solid black;
}

#canvasarea {
	width: 700px;
	height: 500px;
	float: left;
	margin-top: -20px;
}

#space {
	width: 130px;
	height: 24px;
	margin: 0 auto;
}

#sliderInput {
	width: 14px;
	height: 15px;
	float: right;
	margin-right: 37px;
	margin-top: -13px;
}

.button {
	background-color: white;
	color: black;
	border: 1px solid black;
	outline: 0;
	margin-top: 5px;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

#round {
	border-radius: 10px;
}

#rough {
	border-style: dotted solid;
}

input {
	&.vertical {
		writing-mode: bt-lr;
	}

	&[type="button"] {
		margin-bottom: 5px;
		background-color: white;
		color: black;
		border: 1px solid black;
		width: 65px;
		outline: 0;
		font-weight: bold;
		font-family: "Roboto", sans-serif;
	}
	&[type="range"] {
		width: 65%;
		display: inline-block;

		&::-webkit-slider-runnable-track {
			margin-top: -10px;
			margin-left: 15px;
			width: 308px;
			height: 3px;
			background: #000;
			border: none;
		}

		&::-webkit-slider-thumb {
			height: 16px;
			width: 16px;
			border: 3px solid blue;
			margin-top: -4px;
		}

		&:focus {
			outline: none;

			&::-webkit-slider-runnable-track {
				background: black;
			}
		}
	}
}
